<main id="content">

    <div class="container py-5 text-light">

        <!-- Hero -->
        <h1 class=" display-4 mb-3 my-5 text-center font-serif text-light">CITY</h1>
        <hr class="border-1 border-white  text-center w-15" role="presentation">

        <figure class=" text-center " >
            <img src="https://i.ibb.co/x6tMzc9/Screenshot-from-2020-08-02-22-12-05.png"  class="rounded mx-auto d-block " alt="P96">
        </figure>

    </div>

    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 text-center">
                <h2 class="mb-3 font-serif text-light">Cordoba, Argentina</h2>
                <p class="text-secondary font-serif"> Portrait of Cordoba, Argentina</p>
            </div>
        </div>

        <!-- Gallery -->
        <div class="row mx-n1">
            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/ZfSPQBs/3.png" class="grid-item">
                 <img src="https://i.ibb.co/ZfSPQBs/3.png" class="img-fluid" alt="city">
                </a>
            </div>

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/KhZjdX1/Screenshot-from-2020-07-23-22-01-32.png" class="grid-item">
                 <img src="https://i.ibb.co/KhZjdX1/Screenshot-from-2020-07-23-22-01-32.png" class="img-fluid" alt="
                 traffic lights">
                </a>
            </div>

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/bHXVdGC/Screenshot-from-2020-07-23-22-01-49.png" class="grid-item">
                 <img src="https://i.ibb.co/bHXVdGC/Screenshot-from-2020-07-23-22-01-49.png" class="img-fluid" alt="
                 sculpture">
                </a>
            </div>

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/ZMh8MzR/Screenshot-from-2020-08-02-21-26-56.png" class="grid-item">
                 <img src="https://i.ibb.co/ZMh8MzR/Screenshot-from-2020-08-02-21-26-56.png" class="img-fluid" alt="House">
                </a>
            </div>
        </div>

<!--PORTAFOLIO-->
        <div class="text-center my-6">
            <a href="home" class="btn btn-outline-white link-yellow">View Portfolio</a>
        </div>

    </div>
</main>


