<main id="content">

    <div class="container py-5">

        <!-- Hero -->
        <h1 class="display-4 mb-3 my-5 text-center font-serif" style="color:whitesmoke">ABOUT</h1>
        <hr class="border-1 border-white  text-center w-15 " role="presentation">

    </div>

    <div class="container">
        <div class="row justify-content-center font-serif mb-5" style="color:whitesmoke">
            <div class="col-lg-9 text-center">
                <img src='https://i.ibb.co/YB9wWrG/13975308-10209553323291343-1064542426252436383-o.jpg' class='imgRedonda' />
                <hr class="border-1 border-white  text-center w-15 mb-3 my-5" role="presentation">
                <h2 class="mb-3 my-5 "  >Fotógrafo</h2>
                <p class="text-secondary">Soy Nicolas Federico Freytes de Córdoba, Argentina.</p>
            </div>
        </div>

    </div>
</main>