
    <main id="content text-light">


        <div class="container py-5 py-lg-6 text-center ">
            <hr class="border-1 border-white  text-center mb-3 my-5  " role="presentation">
            <h1 class="mb-5 ml-5 text-light text-center font-serif">PHOTOGRAPHY</h1>
            <hr class="border-1 border-white  text-center mb-3 my-5  font-serif " role="presentation">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <blockquote class="blockquote text-center">
                            <p class="font-serif" style="color:#a7a0a0">by Nicolas Federico Freytes</p>
                        </blockquote>
                    </div>
                </div>
        </div>

         <!-- Projects -->
         <div class="container pb-5">
            <div class="row">
                <div class="col-md-6 text-center">
                    <a href="/photos/architecture" class="grid-item ">
                        <figure class="img-color pb-2">
                            <img src="https://i.ibb.co/F7M0wbD/2.png" alt="Architecture city" class="img-fluid mb-2">
                            <figcaption class="h5 font-weight-light text-light text-center">Architecture</figcaption>
                        </figure>
                    </a>
                    <a href="/photos/cats" class="grid-item">
                        <figure class="img-color pb-2">
                            <img src="https://i.ibb.co/P1VwkYp/Screenshot-from-2020-08-03-01-13-47.png" alt="my cats" class="img-fluid mb-2">
                            <figcaption class="h5 font-weight-light text-light text-center ">Cats</figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="/photos/peoples" class="grid-item">
                        <figure class="img-color pb-2">
                            <img src="https://i.ibb.co/bPvJP5S/2.png" alt="my family" class="img-fluid mb-2">
                            <figcaption class="h5 font-weight-light text-light text-center">Peoples</figcaption>
                        </figure>
                    </a>
                    <a href="/photos/city" class="grid-item">
                        <figure class="img-color pb-2">
                            <img src="https://i.ibb.co/BjVpPWk/5.png" alt="Córdoba, Argentina" class="img-fluid mb-2">
                            <figcaption class="h5 font-weight-light text-light text-center ">Cities</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>



    </main>
