<main id="content">

    <div class="container py-5 ">

        <!-- Hero -->
        <h1 class=" display-4 mb-3 my-5 text-center text-light ">PEOPLES</h1>
        <hr class="border-1 border-white  text-center w-15" role="presentation">

        <figure class=" text-center " >
            <img src="https://i.ibb.co/xJPXyR3/6.png"  class="rounded mx-auto d-block" alt="Family">
        </figure>

    </div>

    <div class="container ">
        <div class="row justify-content-center mb-5 text-light">
            <div class="col-lg-9 text-center">
                <h2 class="mb-3 font-serif" >Cordoba, Argentina</h2>
                <p class="text-secondary font-serif">Family of Cordoba, Argentina</p>
            </div>
        </div>

        <!-- Gallery -->
        <div class="row mx-n1">

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/dKCywYC/Screenshot-from-2020-07-23-22-02-02.png" class="grid-item">
                 <img src="https://i.ibb.co/dKCywYC/Screenshot-from-2020-07-23-22-02-02.png" class="img-fluid" alt="Grandma">
                </a>
            </div>

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/LvXdd93/Screenshot-from-2020-07-23-22-02-15.png" class="grid-item">
                 <img src="https://i.ibb.co/LvXdd93/Screenshot-from-2020-07-23-22-02-15.png" class="img-fluid" alt="Grandma">
                </a>
            </div>

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/cQ9Jsfn/Screenshot-from-2020-07-23-22-02-37.png" class="grid-item">
                 <img src="https://i.ibb.co/cQ9Jsfn/Screenshot-from-2020-07-23-22-02-37.png" class="img-fluid" alt="Friend">
                </a>
            </div>

            <div class="col-6 col-lg-3 px-1 mb-2">
                <a href="https://i.ibb.co/HYy5FFJ/Screenshot-from-2020-07-23-22-02-41.png" class="grid-item">
                 <img src="https://i.ibb.co/HYy5FFJ/Screenshot-from-2020-07-23-22-02-41.png" class="img-fluid" alt="Friend">
                </a>
            </div>
        </div>

    <!--Link-->
        <div class="text-center my-6">
            <a href="home" class="btn btn-outline-white link-yellow">View Portfolio</a>
        </div>
    </div>

</main>




