
<!-- Footer -->
<footer class="footer-copyright text-center py-3 bg-darken-4" >
  <div class="container py-5 py-md-6">
    <div class="dropdown-divider text-dark bg-darken-4"></div>
          <div class="alert alert-warning text-center bg-dark">
              <h2 class="h6 mb-3 text-light">SOCIAL</h2>
              <ul class="nav flex-column  text-center">
                  <li class="mb-1"><a href="https://twitter.com/frito__frito" class="text-muted">Twitter</a></li>
                  <li class="mb-1"><a href="https://instagram.com/_fritofrito_" class="text-muted">Instagram</a></li>
              </ul>
          </div>
         <div class="dropdown-divider bg-dark text-center"></div>
          <p class="text-light"> made with ♥ by <a class="link-pink" href="https://twitter.com/eleanarnd" > Eleana Rinaudo</a></p>

  </div>
</footer>
