<main id="content">

    <div class="container py-5 text-light">

        <!-- Hero -->
        <h1 class=" display-4 mb-3 my-5 text-center font-serif">ARCHITECTURE</h1>
        <hr class="border-1 border-white  text-center w-15" role="presentation">

        <figure class=" text-center " >
            <img src="https://i.ibb.co/hcYXXdf/Screenshot-from-2020-08-02-20-58-43.png"  class="rounded mx-auto d-block" alt="P96">
        </figure>

    </div>

    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-9 text-center">
                <h2 class="mb-3 font-serif text-light">Cordoba, Argentina</h2>
                <p class="text-secondary font-serif">Architecture of Cordoba, Argentina</p>
            </div>
        </div>

        <!-- Gallery -->
        <div class="row mx-n1">

                <div class="col-6 col-lg-3 px-1 mb-2">
                    <a href="https://i.ibb.co/rm8jtsT/Screenshot-from-2020-08-02-21-24-19.png" class="grid-item">
                     <img src="https://i.ibb.co/rm8jtsT/Screenshot-from-2020-08-02-21-24-19.png" class="img-fluid" alt="Edifice">
                    </a>
                </div>

                <div class="col-6 col-lg-3 px-1 mb-2">
                    <a href="https://i.ibb.co/f4hr85D/Screenshot-from-2020-08-02-21-24-39.png" class="grid-item">
                    <img src="https://i.ibb.co/f4hr85D/Screenshot-from-2020-08-02-21-24-39.png" class="img-fluid" alt="Edifice">
                </a>
                </div>

                <div class="col-6 col-lg-3 px-1 mb-2">
                    <a href="https://i.ibb.co/9pph597/Screenshot-from-2020-08-02-21-25-58.png" class="grid-item">
                     <img src="https://i.ibb.co/9pph597/Screenshot-from-2020-08-02-21-25-58.png" class="img-fluid" alt="Tarjeta Naranja">
                    </a>
                </div>

                <div class="col-6 col-lg-3 px-1 mb-2">
                    <a href="https://i.ibb.co/ZMh8MzR/Screenshot-from-2020-08-02-21-26-56.png" class="grid-item">
                     <img src="https://i.ibb.co/ZMh8MzR/Screenshot-from-2020-08-02-21-26-56.png" class="img-fluid" alt="Cottage">
                    </a>
                 </div>
        </div>

<!--PORTAFOLIO-->
        <div class="text-center my-6">
            <a href="home" class="btn btn-outline-white link-yellow">View Portfolio</a>
        </div>

    </div>
</main>

